{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block content %} 
<head>
 <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<!-- Modals  -->


 <!-- Modal for updating products -->
 <div class="modal fade" id="HomeBannerModal" tabindex="-1" aria-labelledby="HomeBannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="HomeBannerModalLabel">Save Home Banner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'save_home_banner' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="main_text" class="form-label">Main Text</label>
                        <input type="text" class="form-control" id="main_text" name="main_text" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondry_text" class="form-label">Secondary Text</label>
                        <input type="text" class="form-control" id="secondry_text" name="secondry_text" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondry_text" class="form-label">Main Text Color</label>
                        <input type="text" class="form-control" name="main_text_color" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondry_text" class="form-label">Button Background</label>
                        <input type="text" class="form-control" name="button_background" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondry_text" class="form-label">Button Text</label>
                        <input type="text" class="form-control"  name="button_text" required>
                    </div>
                    <div class="mb-3">
                        <label for="secondry_text" class="form-label">Button Color</label>
                        <input type="text" class="form-control"  name="button_color" required>
                    </div>
                    <div class="mb-3">
                        <label for="banner_image" class="form-label">Banner Image</label>
                        <input type="file" class="form-control" id="banner_image" name="banner_image" accept="image/*" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



 <!-- Modal for updating products ends -->
 <!-- Modal for adding products -->

<!-- End of product add modal -->


 
<div class="container-fluid pt-4 px-4" >
    <div class="row  g-4">
        {% if messages %}
                        {% for message in messages %}
                            {% if 'error' in message.tags %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <i class="fa fa-exclamation-circle me-2"></i>{{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% else %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <i class="fa fa-check-circle me-2"></i>{{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
        
        
        
        <div class="col-12" >
            <div class="bg-secondary rounded h-100 p-4">
                <div class="search-container">
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#HomeBannerModal">
                        Add Home Banner
                    </button>                </div>
                <br>
                <br>
                <div class="table-responsive">
                    <table class="table mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Main Text</th>
                                <th scope="col">Secondary Text</th>
                                <th scope="col">Banner Image</th>
                                <th scope="col">Button Text</th>
                                <th scope="col">Button Background</th>
                                <th scope="col">Main Text Color</th>
                                <th scope="col">Button Color</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                                <tr>
                                    <td>{{ banner.main_text }}</td>
                                    <td>{{ banner.secondry_text }}</td>
                                    <td>
                                        <img src="{{ banner.banner_image.url }}"  style="width: 100px; height: auto;">
                                    </td>
                                    <td>{{ banner.button_text }}</td>
                                    <td>{{ banner.button_background }}</td>
                                    <td>{{ banner.main_text_color }}</td>
                                    <td>{{ banner.button_color }}</td>

                                    <td>
                                       
                                        <a href="{% url 'destroy_home_banner'  %}" class="btn btn-danger">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="col-sm-12  col-xl-12" style="height:85px ;">
            <div class=" bg-secondary rounded h-100 p-4 align-items-center justify-content-center">
                <div class="btn-toolbar  justify-content-center" role="toolbar">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-primary">1</button>
                        <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button>
                        <button type="button" class="btn btn-primary">4</button>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary">5</button>
                        <button type="button" class="btn btn-secondary">6</button>
                        <button type="button" class="btn btn-secondary">7</button>
                    </div>
                    <div class="btn-group " role="group" aria-label="Third group">
                        <button type="button" class="btn btn-info">8</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>



{% endblock %}
