{% extends 'Store/base1.html' %}
{% load static %}

{% block content %}


        <!-- Contact Start -->
        <div class="container-fluid contact py-5" style="margin-top: 70px;">
            <div class="container py-5">
                <div class="p-5 bg-light rounded">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="text-center mx-auto" style="max-width: 700px;">
                                <h1 class="text-primary">Contact Us</h1>
                                <p class="mb-4">Contact Us our team will reach you within 24 hours.</p>
                            </div>
                        </div>
                       
                        <div class="col-lg-7">
                            <form id="contactForm" class="">
                                <input type="text" name="name" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name">
                                <input type="email" name="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email">
                                <textarea name="message" class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message"></textarea>
                                <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="col-lg-5">
                            <div class="d-flex p-4 rounded mb-4 bg-white">
                                <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Address</h4>
                                    <p class="mb-2">Islamabad</p>
                                </div>
                            </div>
                            <div class="d-flex p-4 rounded mb-4 bg-white">
                                <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Mail Us</h4>
                                    <p class="mb-2">VintGizmo@gmail.com</p>
                                </div>
                            </div>
                            <div class="d-flex p-4 rounded bg-white">
                                <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Telephone</h4>
                                    <p class="mb-2">03009666304</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<script>
          
            $(document).ready(function() {
        $('#contactForm').on('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            var formData = $(this).serialize(); // Serialize the form data

            $.ajax({
                type: 'POST',
                url: "{% url 'contact_form' %}", // URL to the Django view
                data: formData,
                success: function(response) {
                    if (response.success) {
                        showModal("Message sent successfully")
                        $('#contactForm')[0].reset(); // Reset the form fields
                    } else {
showModal(response.message)                    
}
                },
                error: function(xhr, status, error) {
                    alert('An error occurred: ' + error);
                }
            });
        });
        function showModal(message) {
        const modalMessage = document.getElementById('responseMessage');
        modalMessage.textContent = message;
        $('#responseModal').modal('show');
    }
    });
        </script>
        <!-- Contact End -->


        <!-- Footer Start -->
     
{% endblock %}
    