.bg {
    background-size: cover ;
    background-position: center;
    background: {{ sale.background }} ;
    
}

.titlecolor {
    color: {{ sale.main_text_color }} !important;
}

.secondcolor {
    color: {{ sale.secondry_color }} !important;
}
.salebutton{
    background-color: {{sale.button_background}};
}
.homecolorsecond{
      color : {{sale.homesecond}} !important;
}
.buttoncolor{
background-color: {{sale.buttonbackground}} !important;
}
.homecolormain{
 color: {{sale.homeMain}} !important;
}